{% set pageImage = asset( ez_image_alias( content.getField( 'image' ), content.versionInfo, 'large' ).uri, absolute=false ) %}
<div class="col-1-3 padd-25 transit-bottom animated fadeInDown">
    <div class="port-item design" style="background-image: url('{{ pageImage }}');">
        <div class="port-caption transit">
            <div class="port-title marg-top-75 marg-left-25 marg-right-25">
                <a href="{{ path( "ez_urlalias", {"locationId": content.contentInfo.mainLocationId} ) }}">
                    {{ ez_render_field(content,'title')}}
                </a>
            </div>
            <div class="line-center brd-gr2-clr"></div>
            <div class="port-icon">
                <i class="icon-maximize"></i>
            </div>
        </div>
    </div>
</div>
