<footer>
  <div class="footer-content">
    <div class="footer-layer bg-nd-clr">
      <div class="boxed">
        <div class="footer-icons">
          <ul>
            <li><i class="icon-picasa"></i></li>
          </ul>
        </div>
        <div id="footer-copy" class="padd-x-25">
          Copyrights &copy; 2015 | <a href=""><strong>ChristineAllué.fr</strong></a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</footer>

<div class="btn-up brd-wh-clr bg-wh-clr fs-clr brd-fs-clr-hov">
  <i class="icon-arrow-up"></i>
</div>
<div id="curtain"></div>
