<div id="logo-white" class="logo">
	<a href="index.html">
		<img alt="" src="{{ asset('bundles/padlayout/images/logo-white.png') }}" />
	</a>
</div>

<div id="logo-dark" class="logo">
	<a href="index.html">
		<img alt="" src="{{ asset('bundles/padlayout/images/logo-dark.png') }}" />
	</a>
</div>

<div id="logo-short" class="logo">
	<a href="index.html">
		<img alt="" class="brd-nd-clr" src="{{ asset('bundles/padlayout/images/logo-mobile.png') }}" />
	</a>
</div>