<div id="quick-icons">
    <ul class="info-menu">
        <li>
          <a title="support" href="">
            <i class="icon-mail"></i>
          </a>
        </li>
        <li>
          <a title="follow us" href="">
            <i class="icon-heart"></i>
          </a>
        </li>
    </ul>
    <ul class="switch-menu">
        <li class="open-menu">
          <i class="icon-menu"></i>
        </li>
    </ul>
    <div class="clear"></div>
</div>
